#footer {
 background-color: white;
 color: $sky-blue;
  h4 {
    font-size: 1em;
    padding-top: 1em;
    color: inherit;
  }
  div a i {
    font-size: 2em;
    padding: .5em;
    color: inherit;
  }
}
