#hello {
  color: white;
  background: $sky-blue;
  h2 {
    text-shadow: 2px 2px $gray;
  }
  @include div-format(100vh);
  .button {
    margin: 1em .5em;
    width: 10em;
    border-radius: 2px;
    background-color: white; //darken($black, 20%);

    //font-weight: bold;
    color: darken($black, 40%);//white;
    text-shadow: .2px .2px #343638;
    box-shadow: 1.5px 1.5px $gray;
    //letter-spacing: .6px;
  }
  .button:hover, .button:focus {
    font-weight: bold;
    background-color: $black;
    color: $sky-blue;
    box-shadow: 3px 3px $gray;
  }
  p {
    font-size: 1.2em;
  }


  /*#portfolio-btn {
  font-weight: bold;
  //  background-color: $sky-blue;
  } */

} // end #hello


#contact-btn {
  font-weight: bold;
}




#smile {
  border-radius: 100%;
  width: 12em;
  margin-bottom: 2em;
  box-shadow: 0px 3px $black;
//  display: none; This is for the jQuery animation
}


//animations
@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
