.hero {
  height: 95vh;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0578a3);
  //h1, h2 {
    //  }
  h1 {
    color: $bold-orange;
    text-shadow: .05em .05em $gray;
  }
  h2 {
    color: $gray;
  }
  .hero-txt{
    align-self: center;

  }
  .hero-link{
    margin-bottom: 1em;
    background-color: $transparent;
    padding: .5em;
    margin-top: 3em;

    } //end .hero-link
  .hero-link:hover {
    i.fi-arrow-down{
    color: $bold-orange;
  }
  }

} // end .hero


// .hero Animations

// arrow movement
.first_effect {
   color: black;
   font-size: 2em;
   background-color: $transparent;
   border-radius: 100%;
   padding: 1em 0;
   //width: 200px;
   animation: move 2.5s ease infinite;


 }

 @keyframes move {
   50% {
      transform: translate(0px, 1em);
   }
 }
 .fi-arrow-down {
   color: #3c4347;
 }

// hover circles

 /*
 This is a second approach for hover circles, it will toggle between states with jQuery, similar to a responsive nav
 */

/*.second_effect {
      padding: .8em;
      border-radius: 100%;
      box-shadow: 0 0 0 5px $transparent;
    //  animation-play-state: running;
      animation: circle 1.2s  ease;
      }

  @keyframes circle {
   0% { box-shadow: 0 0 0 0px black; opacity:1;
        padding: .1em;
        background-color: lighten($sky-blue, 2%);
     }
  22% { box-shadow: 0 0 0 3px black; opacity:1;
        padding: 1.2em;
        background-color: lighten($sky-blue, 2%);
   }
  50% { box-shadow: 0 0 0 0px black; opacity:1;
        padding: .1em;
        background-color: lighten($sky-blue, 2%);
   }
  72% { box-shadow: 0 0 0 3px black; opacity:1;
        padding: 1.2em;
        background-color: lighten($sky-blue, 2%);
   }
  100% { box-shadow:inherit; 0 0 0 0px black; opacity:1;
        padding: .1em;
        background-color: lighten($sky-blue, 2%);
  }
  }*/
