$red: #e0340f;
$black: #ddd;
$old-brown: #291901;
$old-paper: #F8ECC2;
$bold-orange: #e45011;
$sky-blue: #0578a3;
$gray: rgb(91, 88, 88);
$transparent: rgba(255, 255, 255, 0);
$action-color: #c324a0;
$div-height: 95%;
$bounce-color   :   #4db8d6;


@mixin div-format($height: $div-height) {
  height: $height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}
