#works {
  height: 80vh;
#works-title {
  padding: .8em;
  font-weight: bold;
}
}// End #works

.grid-element {
  height: 50vh;
  -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
        transition: all 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
#first, #second, #third {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

  #first   {
    background-image: url('http://lorempixel.com/400/200/nightlife/');
  }
  #second {
    background-image: url('http://lorempixel.com/400/200/people/');
  }
  #third {
    background-image: url('http://lorempixel.com/400/200/business/');
  }


.grid-element:hover {
  cursor: pointer;
  border: 3em solid rgba(255, 255, 255, 0);
}
