doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    // If you delete this meta tag World War Z will become a reality
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // This meta tags improve SEO
    meta(name='description', content='Freelance Front-End Developer with a good grasp of Back-End located in Mexico City')
    meta(name='author', content='Jaime Madrigal Rios')
    title Web Developer
    // If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like
    // <link rel="stylesheet" href="css/normalize.css">
    link(rel='icon', type='image/png', href='http://riosjaime.com/favicon.ico')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css")
    link(rel='stylesheet', href='css/foundation-icons.css')
    link(rel='stylesheet', href='css/animate.min.css')
    // My styles
    link(rel='stylesheet', href='css/style.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-71409801-1', 'auto');ga('send', 'pageview');

    // Here goes the php if statement
    // Here ends the php if
  body
    // Navigation starts here
    nav.title-bar(data-responsive-toggle='example-menu', data-hide-for='medium' data-sticky data-options="marginTop:0;")
      button.menu-icon(type='button', data-toggle='')
      .title-bar-title Jaime Rios
    nav#example-menu.top-bar
      .top-bar-left
        ul.dropdown.menu(data-dropdown-menu='')
      .top-bar-right
        ul.menu
          li#nav-btn-works
            a(href='#works') Portfolio
          li#nav-btn-hello
            a(href='#hello') About
          li.nav-btn
            a#contact(data-open='contactmodal') Contact me
    // Here starts the content
    .hero.text-center
      h1.hero-txt Jaime Rios
      h2 Creative Front-End Developer
      h3.help-text I turn black coffee and pizza into  engaging websites.
      a.hero-link(href='#hello')
        h4#see-more 
          div#effects.first_effect 
            i.fi-arrow-down
    //Hero ends here
    // Hello starts here
    #hello.text-center.row
      .large-12.columns
        img.text-right.revealOnScroll#smile(src='img/profile2.jpg' alt='This is my profile picture' data-animation="fadeInUp" data-timeout="100")


      .large-9.columns.revealOnScroll(data-animation="fadeInUp" data-timeout="600") 
        h2.text-left Hello, I'm Jaime
        p.text-left
          | I'm a qualified
          span  Front End Developer, with a good grasp of Back End. My work is focused in Human Centered Design. 
        .large-12.columns.text-left.revealOnScroll(data-animation="fadeInUp" data-timeout="600")
          a#contact-btn.button( data-open='contactmodal') Contact me
          a#resume.button(href='https://docs.google.com/document/d/1bKqVbohnl_aCA1EHmIoE0xgsX-679TPOSjP5Pi5irTo/edit?usp=sharing') Resume 
          a.button#portfolio-btn(href="#works") Portfolio
    // Here I start to WORK WORK WORK 
    #works.row
      h2.small-12.colums.text-center.revealOnScroll#works-title(data-animation="fadeInUp" data-timeout="600") Portfolio
      a(data-open='modalOne')
        .medium-4.columns.grid-element.revealOnScroll#first(data-animation="fadeInUp" data-timeout="1000") 
          //p Seducción Delta  
      a(data-open='modalTwo')      
        .medium-4.columns.grid-element.revealOnScroll#second(data-animation="fadeInUp" data-timeout="1000") 
          //p WorPress Store
      a(data-open='modalThree')  
        .medium-4.columns.grid-element.revealOnScroll#third(data-animation="fadeInUp" data-timeout="1000") 
          //p Fonts
      //These are the modals for #works
    .reveal#modalOne(data-reveal='')
      h1 Seducción Delta
      img(src="img/screen.png")
      p I developed this website for Seducción Delta. The main goal was to create a full responsive website.
      ul Technologies:
        li HTML5
        li CSS3 (Zurb Foundation)
        li Full Responsibe
      
      a(href="http://seducciondelta.mx/").button.text-center.the-link The link
      button.close-button(data-close aria-label="Close modal" type="button")
        span(aria-hidden="true") &times;
    .reveal#modalTwo(data-reveal='')
      h1 A WordPress Blog
      img.text-center(src="img/ipad.png")
      p <br>For this Project, I participated as a Full Stack Developer.<br><br> For the Front-End, the goal was to achieve a medieval look and feel with customized fonts, a fully responsive website and determine the relevance of the content<br><br> For the Back-End, I needed to create a cuztom theme for the site that allow a non-technical savy user to manage the content. 
      ul Technologies:
        li WordPress
        li Bootstrap
        li Php 
      .callout.secondary
        p.help-text Please note that due to NDA, I'm only allowed to display a demo website with dummy content in my server unitl the first live version is released. 
      a(href="http://daniel.riosjaime.com").button.text-center.the-link The link
      button.close-button(data-close aria-label="Close modal" type="button")
        span(aria-hidden="true") &times;
    .reveal#modalThree(data-reveal='')
      h1 Playground
      img#fonts2(src="img/fonts2.png")
      p <br><br>This is an independant project used to exemplify with fonts combinations and animations in order to illustrate the different emotions they inspire.<br><br> Check the link for an amazing visual experience.
        ul Technologies:
          li CSS3 (SCSS)
      a(href="http://playground.riosjaime.com/").button.text-center.the-link The link
      button.close-button(data-close aria-label="Close modal" type="button")
        span(aria-hidden="true") &times;

    // This is the last section
    
    #footer
      h4.row.text-center Check my social networks
      div.text-center 
        a(href='https://facebook.com/jaimemadrigalrios')
          i.fi-social-facebook
          a(href='https://twitter.com/papaponmx')
            i.fi-social-twitter
          a(href='https://github.com/papaponmx')
            i.fi-social-github
          a(href='https://teamtreehouse.com/jaimemadrigalrios')
            i.fi-social-treehouse

                  
    // This is the code for the contact modal
    #contactmodal.reveal(data-reveal='')
      h3
        | Want to discuss your website plans? Have an offer I couldn't refuse? Just say it.
      // Here starts the form
      #contact.containter-fluid.portfolio.contact-background
        form(method='post', action='contact-process.php')
          .form-group
            label.h4(for='name') Name
            input#name.form-control(type='text', name='Name', placeholder='Enter name', required='')
          .form-group
            label.h4(for='email') Email
            input#email.form-control(type='email', name='Email', placeholder='Enter email', required='')
          .form-group
            label.h4(for='message') Message
            textarea#message.form-control.col-sm-12(rows='5', name='Message', placeholder='Enter your message', required='')
          button#form-submit.large.button(type='submit') Submit
      button.close-button(data-close='', aria-label='Close modal', type='button')
        span(aria-hidden='true') ×
    // Release the SCRIPTS!
    script(src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js")
    script(src="js/app.js")

    // This is the Google Analytics code
